html {
	box-sizing: border-box;
	font-size: 13px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	color: var(--vscode-foreground);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

li{
	list-style-type: none;
}

.key{
	color: #c586c0;
}

.value{
	color: #b5cea8;
}

.toggable {
	margin-left: 0.5rem;
}

*:not(.toggled) > .toggable {
	display: none;
}

.toggle:hover {
    color: aqua;
	cursor: pointer; 
}

.toggle * {
    color: var(--vscode-foreground);
}

img {
	max-width: 100%;
	height: auto;
}
